---
---

// TODO: dynamic import github dark mode style
@import "./github-behaviors.css";
@import "./github-frameworks.css";

.markdown-body .emoji {
  vertical-align: middle;
}

.profile-color-modes-toggle:focus {
  outline: none;
}

.footer .footprint {
  span {
    opacity: .5;
  }

  a {
    opacity: 1;
  }
}
